{% extends 'docs/base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-3">Добро пожаловать на главную страницу!</h1>
    <p class="mb-3">
        Для того чтобы продолжить, пожалуйста, пройдите авторизацию.
    </p>
    <p>Наш сервис предоставляет удобные инструменты для работы с документами онлайн, позволяя вам легко создавать, хранить и обмениваться документами в безопасной среде.</p>
    <p>Зарегистрируйтесь сегодня и начните организовывать свои документы эффективно!</p>
</div>
{% endblock %}
