<!DOCTYPE html>
<html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Register</title>
    {% load static %}
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Register</h2>
        <form id="register-form" class="w-50 mx-auto mt-3">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
    <script src="{% static 'jwt_auth/js/register.js' %}"></script>
</body>
</html>
