<html>
    <head>
        {% if user.is_authenticated %}
            <h2>{{ user.username }}</h2>
            <li><a href="{% url 'logout' %}">Шығу</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Кіру</a></li>
        {% endif %}
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="uploaded_file">
            <button type="submit">Upload</button>
          </form>

          {% if filename %}
            <p>File uploaded: <a href="{{ filename }}">{{ filename }}</a></p>
          {% endif %}
    </body>
</html>